html{
  font-family: Montserrat;
}


.logo{
  margin: 15px auto;
display: block;
width: 220px;
}

.recipe_list_item_selection {
    background-color: #c7bebe;
    height: 280px;
    border-radius: 5px;
    margin: 10px auto;
    overflow: hidden;
}

.recipe_list_item_selection_caption {
    background-color: #e7e7e7;
    height: 140px;
    bottom: -140px;
    position: relative;
    padding: 15px;
}
.recipe_list_item_selection_caption h3{
  font-size: 1rem!important;
}

.recipe_list_item_selection_caption_head{
  display: flex;
  justify-content: space-between;
}

.recipe_list_item_selection_caption_content{
  display: flex;
  justify-content: space-between;
  font-size: 0.5rem;
}

.recipe_list_item_selection_caption_content li{
list-style: none;
text-decoration: none;
margin: 0;
}

.recipe_list_item_selection_caption_content ul{
padding: 0px;
}
.recipe_list_item_selection_caption_content p {
    overflow: hidden;
    max-height: 70px;
    text-overflow: ellipsis;
    width: 160px;

    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.recipe_list_item_selection_caption_head_temps{
  font-weight: 600;
}

.form-control {
    background-color: #e7e7e7!important;
    padding: 15px!important;
    border-right: none!important;
}

.recipe_list_item_selection_caption_head_temps {
    white-space: -moz-pre-space;
}

#basic-addon2 {
    border-left: none!important;
    background-color: #e7e7e7!important;
}
.filters{
  display: flex;
}
.btn{
  margin: 10px;
  margin-left: 0px;
  margin-bottom: 30px;
}
.btn.btn-primary.dropdown-toggle {
    width: 160px;
    color: white;
    text-align: left;
    height: 55px;
}

.ingredient{
  background-color: #0069d9!important;
  border-color:#0069d9!important;
}
.appareil{
  background-color: #68d9a4!important;
  border-color: #68d9a4!important;
}
.ustensiles{
  background-color: #ed6454!important;
    border-color: #ed6454!important;
}

@media (max-width: 550px) {
  .filters{
    justify-content: center;
  }

  .btn{
    margin: 10px;
  }
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none!important;
}

.dropdown-menu{
    transform: translate3d(0px, 65px, 0px)!important;
  margin-top: -5px!important;
}

.dropdown-item{
  color: white!important;
  display: block;
    width: 156px!important;
    text-overflow: ellipsis;
    overflow: hidden;
}
.show{
    width: max-content!important;
    max-width: 800px;
    display: flex!important;
    flex-wrap: wrap!important;
    top: 0px;
    left: 0px;
}